<!-- Sidebar -->
<div class="sidebar">
  <ul class="menu">
    <li class="menu-item active">{{ 'nav-bar.MENU.href1' | translate }}</li>
    <li class="menu-item">
      {{ 'nav-bar.MENU.href2' | translate }} <span class="new">Mới</span>
    </li>
    <li class="menu-item">{{ 'nav-bar.MENU.href3' | translate }}</li>
    <li class="menu-item">{{ 'nav-bar.MENU.href4' | translate }}</li>
    <li class="menu-item">{{ 'nav-bar.MENU.href5' | translate }}</li>
    <li class="menu-item">{{ 'nav-bar.MENU.href6' | translate }}</li>
  </ul>
</div>
