<div class="room-list-container" *ngIf="!isMyPostLoading">
  <ng-container *ngIf="myPosts && myPosts.length > 0; else noMyPosts">
    <div *ngFor="let myPost of myPosts" class="room-item">
      <img
        [src]="
          myPost.medias && myPost.medias.length > 0
            ? myPost.medias[0].url
            : '/assets/img/virtualMeetImageForNoImage.png'
        "
        alt="{{ myPost.content }}"
      />
      <div class="room-topic-overlay">
        <h3>{{ myPost.content }}</h3>
      </div>
    </div>
  </ng-container>
  <ng-template #noMyPosts>
    <div class="no-room">
      <img src="/assets/img/my-posts.png" alt="my-posts-icon" />
      <p>Empty post. Create your first post here.</p>
    </div>
  </ng-template>
</div>
