<div class="input-container" (click)="onInputClick()">
  <input
    type="text"
    name="text"
    class="input"
    id="input"
    placeholder="Search..."
    [value]="searchQuery"
    (input)="onSearch($event)"
    (keyup.enter)="onEnter()"
    (focus)="onFocus()"
  />

  <label for="input" class="label-for-search">
    <svg viewBox="0 0 512 512" class="search-icon">
      <path
        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
      ></path>
    </svg>
  </label>

  <div class="divider"></div>

  <button
    class="mic-button"
    [ngClass]="{ active: isRecording }"
    (click)="toggleVoiceRecognition()"
  >
    <svg viewBox="0 0 384 512" class="mic-icon">
      <path
        d="M192 0C139 0 96 43 96 96V256c0 53 43 96 96 96s96-43 96-96V96c0-53-43-96-96-96zM64 216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 89.1 66.2 162.7 152 174.4V464H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h72 72c13.3 0 24-10.7 24-24s-10.7-24-24-24H216V430.4c85.8-11.7 152-85.3 152-174.4V216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 70.7-57.3 128-128 128s-128-57.3-128-128V216z"
      ></path>
    </svg>
  </button>

  <ul class="suggestions" [ngClass]="{ show: showSuggestions }">
    <!-- User suggestions được hiển thị trước nếu có -->
    <ng-container *ngIf="userSuggestions.length > 0">
      <li class="suggestion-header">
        <img width="20" height="20" src="/img/user-icon.png" alt="user-icon" />
        Users
      </li>
      <li
        *ngFor="let user of userSuggestions"
        (click)="selectSuggestion(user)"
        class="user-suggestion"
      >
        <img
          [src]="user.picture.url"
          [alt]="user.name"
          class="user-avatar"
          *ngIf="user.picture?.url"
        />
        <span class="user-name">{{ user.name }}</span>
      </li>
    </ng-container>

    <!-- Trending suggestions được hiển thị sau -->
    <ng-container *ngIf="trendSuggestions.length > 0">
      <li class="suggestion-header">
        <img
          width="20"
          height="20"
          src="/img/trending-icon.png"
          alt="trending-icon"
        />
        Trending
      </li>
      <li
        *ngFor="let suggestion of trendSuggestions"
        (click)="selectSuggestion(suggestion)"
      >
        <span class="bullet"></span> {{ suggestion }}
      </li>
    </ng-container>
  </ul>
</div>
