<div class="modal">
  <div class="modal-content">
    <div class="title">
      <i
        class="fa-solid fa-x iconX d-flex justify-content-end"
        (click)="onCloseModal()"
        style="cursor: pointer"
      ></i>
    </div>
    <div class="post">
      <div class="image-container">
        <button
          (click)="prevImage()"
          class="nav-button fa-solid fa-arrow-left"
        ></button>
        <img
          [src]="post.medias[currentImageIndex]?.url"
          alt="Hình ảnh bài viết"
          class="post-image"
        />
        <button
          (click)="nextImage()"
          class="nav-button next-button fa-solid fa-arrow-right"
        ></button>
      </div>
      <div class="post-content">
        <div class="post-header">
          <img
            [src]="post.user.picture.url"
            alt="Profile picture"
            height="40"
            width="40"
          />
          <div class="username">
            {{ post.user.name }}
            <span> • Following </span>
          </div>
        </div>
        <div class="post-text">
          <p>{{ post.content }}</p>
        </div>
        <div class="post-actions">
          <div class="icons">
            <i class="far fa-heart"> </i>
            <i class="far fa-comment"> </i>
            <i class="far fa-paper-plane"> </i>
          </div>
          <div class="time">7 hours ago</div>
        </div>
        <div class="comments-section">
          <h5>Bình luận</h5>
          <div class="post-comment">
            <input placeholder="Add a comment..." type="text" />
            <button>Post</button>
          </div>
          <div *ngFor="let comment of groupedComments" class="comment">
            <div class="d-flex">
              <img
                [src]="comment.author.picture.url"
                alt="Ảnh đại diện"
                class="comment-avatar"
              />
              <div class="comment-author">{{ comment.author.name }}</div>
            </div>

            <div class="comment-content">
              <div class="comment-text">{{ comment.content }}</div>
              <div class="comment-time"></div>
            </div>

            <!-- Hiển thị reply -->
            <!-- Hiển thị reply -->
            <div class="replies" *ngIf="comment.replies.length > 0">
              <div *ngFor="let reply of comment.replies" class="reply">
                <div class="d-flex">
                  <img
                    [src]="reply.author.picture.url"
                    alt="Ảnh đại diện"
                    class="comment-avatar"
                  />
                  <div class="comment-author">{{ reply.author.name }}</div>
                </div>
                <div class="comment-content">
                  <div class="comment-text">{{ reply.content }}</div>
                  <div class="comment-time"></div>
                </div>

                <!-- Nếu reply có thêm replies con -->
                <div *ngIf="reply.replies?.length > 0">
                  <div *ngFor="let subReply of reply.replies" class="reply">
                    <div class="d-flex">
                      <img
                        [src]="subReply.author.picture.url"
                        alt="Ảnh đại diện"
                        class="comment-avatar"
                      />
                      <div class="comment-author">
                        {{ subReply.author.name }}
                      </div>
                    </div>
                    <div class="comment-content">
                      <div class="comment-text">{{ subReply.content }}</div>
                      <div class="comment-time"></div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="post-comment">
                    <input placeholder="Add a comment..." type="text" />
                    <button>Post</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
