<div class="modal" (click)="onCloseModal($event)">
  <div class="modal-content">
    <div class="title">
      <i
        class="fa-solid fa-x iconX d-flex justify-content-end"
        (click)="onCloseModal()"
        style="cursor: pointer"
      ></i>
    </div>

    <!-- Loading State -->
    <div class="d-flex justify-content-center" *ngIf="isLoadingPost">
      <app-loading-component></app-loading-component>
    </div>

    <!-- Post Content -->
    <div class="post" *ngIf="!isLoadingPost && post">
      <div class="image-container" *ngIf="post.medias?.length > 0">
        <button
          (click)="prevMedia()"
          class="nav-button fa-solid fa-arrow-left"
          [disabled]="currentMediaIndex === 0"
        ></button>
        <ng-container *ngIf="post.medias[currentMediaIndex].type === 1">
          <img
            [src]="getSafeUrl(post.medias[currentMediaIndex]?.url)"
            alt="Hình ảnh bài viết"
            class="post-image"
          />
        </ng-container>
        <ng-container *ngIf="post.medias[currentMediaIndex].type === 2">
          <video
            [src]="getSafeUrl(post.medias[currentMediaIndex]?.url)"
            controls
            class="post-video"
          ></video>
        </ng-container>
        <button
          (click)="nextMedia()"
          class="nav-button next-button fa-solid fa-arrow-right"
          [disabled]="currentMediaIndex === post.medias.length - 1"
        ></button>
      </div>
      <div class="post-content">
        <div class="post-header">
          <img
            [src]="getSafeUrl(post.user?.picture?.url)"
            alt="Profile picture"
            height="40"
            width="40"
          />
          <div class="username">
            {{ post.user?.name }}
            <span> • Following </span>
          </div>
        </div>
        <div class="time">
          {{ ticksToDate(post.createTime) | date : "dd/MM/yy HH:mm" }}
        </div>
        <div class="post-text">
          <p>{{ post.content }}</p>
        </div>
        <div class="post-stats">
          <div class="likes" (click)="openReactionSummary($event)">
            <div class="reaction-icons" *ngIf="post.topReactions?.length > 0">
              <ng-container *ngFor="let reaction of post.topReactions">
                <i [class]="getReactionIcon(reaction)" [title]="reaction"></i>
              </ng-container>
            </div>
            <span>{{ post.likeCount || 0 }}</span>
          </div>
          <div class="comments">
            <i class="fas fa-comment"></i>
            {{ comments?.data?.length || 0 }}
          </div>
          <div class="share">
            <i class="fas fa-share"></i>
            {{ post.shareCount || 0 }}
          </div>
        </div>

        <!-- Phần nút hành động (action-buttons) -->
        <div class="action-buttons">
          <div class="like-btn-wrapper">
            <button
              class="like-btn"
              [style.color]="
                post.currentUserReaction
                  ? getReactionColor(post.currentUserReaction)
                  : '#606770'
              "
              (click)="toggleReactionPanel($event)"
            >
              <i
                [class]="getReactionIcon(post.currentUserReaction || 'like')"
                [style.color]="'inherit'"
              ></i>
              {{
                post.currentUserReaction
                  ? (post.currentUserReaction | titlecase)
                  : "Like"
              }}
            </button>
            <div class="reaction-panel" *ngIf="showReactionPanel">
              <button (click)="setReaction('love', $event)" title="Love">
                <i class="fas fa-heart"></i>
              </button>
              <button (click)="setReaction('haha', $event)" title="Haha">
                <i class="fas fa-laugh"></i>
              </button>
              <button (click)="setReaction('wow', $event)" title="Wow">
                <i class="fas fa-surprise"></i>
              </button>
              <button (click)="setReaction('sad', $event)" title="Sad">
                <i class="fas fa-sad-tear"></i>
              </button>
              <button (click)="setReaction('angry', $event)" title="Angry">
                <i class="fas fa-angry"></i>
              </button>
            </div>
          </div>
          <button class="comment-btn" (click)="focusCommentInput()">
            <i class="fas fa-comment"></i> Comment
          </button>
          <button class="share-btn" (click)="sharePost()">
            <i class="fas fa-share"></i> Share
          </button>
        </div>
        <div class="comments-section">
          <h5>Bình luận</h5>
          <div class="post-comment">
            <div class="post-header">
              <img
                [src]="getSafeUrl(user?.picture?.url)"
                alt="Profile picture"
                height="40"
                width="40"
              />
            </div>
            <input
              #commentInput
              type="text"
              placeholder="Add a comment..."
              (keydown.enter)="
                addComment(commentInput.value); commentInput.value = ''
              "
            />
            <button
              (click)="addComment(commentInput.value); commentInput.value = ''"
            >
              Post
            </button>
          </div>
          <p style="color: red" *ngFor="let message of messages">
            {{ message }}
          </p>

          <div class="d-flex justify-content-center" *ngIf="isLoadingComment">
            <app-loading-component></app-loading-component>
          </div>
          <div *ngFor="let comment of groupedComments" class="comment">
            <div class="d-flex">
              <img
                [src]="getSafeUrl(comment.author?.picture?.url)"
                alt="Ảnh đại diện"
                class="comment-avatar"
              />
              <div class="comment-author">{{ comment.author?.name }}</div>
            </div>
            <div class="comment-content">
              <div class="comment-text">{{ comment.content }}</div>
              <div class="comment-time"></div>
            </div>
            <div class="replies" *ngIf="comment.replies.length === 0">
              <div class="post-comment">
                <div class="post-header">
                  <img
                    [src]="getSafeUrl(user?.picture?.url)"
                    alt="Profile picture"
                    height="40"
                    width="40"
                  />
                </div>
                <input
                  #replyInput
                  type="text"
                  placeholder="Add a reply..."
                  (keydown.enter)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                />
                <button
                  (click)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                >
                  Post
                </button>
              </div>
            </div>
            <div class="replies" *ngIf="comment.replies.length > 0">
              <div *ngFor="let reply of comment.replies" class="reply">
                <div class="d-flex">
                  <img
                    [src]="getSafeUrl(reply.author?.picture?.url)"
                    alt="Ảnh đại diện"
                    class="comment-avatar"
                  />
                  <div class="comment-author">{{ reply.author?.name }}</div>
                </div>
                <div class="comment-content">
                  <div class="comment-text">{{ reply.content }}</div>
                  <div class="comment-time"></div>
                </div>
              </div>
            </div>
            <div class="replies" *ngIf="comment.replies.length > 0">
              <div class="post-comment">
                <div class="post-header">
                  <img
                    [src]="getSafeUrl(user?.picture?.url)"
                    alt="Profile picture"
                    height="40"
                    width="40"
                  />
                </div>
                <input
                  #replyInput
                  type="text"
                  placeholder="Add a reply..."
                  (keydown.enter)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                />
                <button
                  (click)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                >
                  Post
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
