<div class="modal">
  <div class="modal-content">
    <div class="title">
      <i
        class="fa-solid fa-x iconX d-flex justify-content-end"
        (click)="onCloseModal()"
        style="cursor: pointer"
      ></i>
    </div>

    <!-- Loading State -->
    <div class="d-flex justify-content-center" *ngIf="isLoadingPost">
      <app-loading-component></app-loading-component>
    </div>

    <!-- Post Content -->
    <div class="post" *ngIf="!isLoadingPost && post">
      <div class="image-container" *ngIf="post.medias?.length > 0">
        <button
          (click)="prevImage()"
          class="nav-button fa-solid fa-arrow-left"
          [disabled]="currentImageIndex === 0"
        ></button>
        <img
          [src]="getSafeUrl(post.medias[currentImageIndex]?.url)"
          alt="Hình ảnh bài viết"
          class="post-image"
        />
        <button
          (click)="nextImage()"
          class="nav-button next-button fa-solid fa-arrow-right"
          [disabled]="currentImageIndex === post.medias.length - 1"
        ></button>
      </div>
      <div class="post-content">
        <div class="post-header">
          <img
            [src]="getSafeUrl(post.user?.picture?.url)"
            alt="Profile picture"
            height="40"
            width="40"
          />
          <div class="username">
            {{ post.user?.name }}
            <span> • Following </span>
          </div>
        </div>
        <div class="post-text">
          <p>{{ post.content }}</p>
        </div>
        <div class="post-actions">
          <div class="likes" (click)="toggleReactionPanel($event)">
            <i
              class="fas fa-thumbs-up"
              [ngClass]="{ liked: post.currentUserReaction === 'like' }"
            ></i>
            {{ post.likeCount || 0 }} Likes
            <div class="reaction-panel" *ngIf="showReactionPanel">
              <button (click)="setReaction('like', $event)" title="Like">
                <i class="fas fa-thumbs-up"></i>
              </button>
              <button (click)="setReaction('haha', $event)" title="Haha">
                <i class="fas fa-laugh"></i>
              </button>
              <button (click)="setReaction('wow', $event)" title="Wow">
                <i class="fas fa-surprise"></i>
              </button>
              <button (click)="setReaction('sad', $event)" title="Sad">
                <i class="fas fa-sad-tear"></i>
              </button>
              <button (click)="setReaction('angry', $event)" title="Angry">
                <i class="fas fa-angry"></i>
              </button>
            </div>
          </div>
          <div class="comments">
            <i class="fas fa-comment"></i>
            {{ comments?.data?.length || 0 }} Comments
          </div>
          <div class="share">
            <i class="fas fa-share"></i>
            99 Shares
            <!-- Replace with dynamic data if available -->
          </div>
          <div class="time">7 hours ago</div>
        </div>
        <div class="comments-section">
          <h5>Bình luận</h5>
          <div class="post-comment">
            <div class="post-header">
              <img
                [src]="getSafeUrl(user?.picture?.url)"
                alt="Profile picture"
                height="40"
                width="40"
              />
            </div>
            <input
              #commentInput
              type="text"
              placeholder="Add a comment..."
              (keydown.enter)="
                addComment(commentInput.value); commentInput.value = ''
              "
            />
            <button
              (click)="addComment(commentInput.value); commentInput.value = ''"
            >
              Post
            </button>
          </div>
          <p style="color: red" *ngFor="let message of messages">
            {{ message }}
          </p>

          <div class="d-flex justify-content-center" *ngIf="isLoadingComment">
            <app-loading-component></app-loading-component>
          </div>
          <div *ngFor="let comment of groupedComments" class="comment">
            <div class="d-flex">
              <img
                [src]="getSafeUrl(comment.author?.picture?.url)"
                alt="Ảnh đại diện"
                class="comment-avatar"
              />
              <div class="comment-author">{{ comment.author?.name }}</div>
            </div>
            <div class="comment-content">
              <div class="comment-text">{{ comment.content }}</div>
              <div class="comment-time"></div>
            </div>
            <div class="replies" *ngIf="comment.replies.length === 0">
              <div class="post-comment">
                <div class="post-header">
                  <img
                    [src]="getSafeUrl(user?.picture?.url)"
                    alt="Profile picture"
                    height="40"
                    width="40"
                  />
                </div>
                <input
                  #replyInput
                  type="text"
                  placeholder="Add a reply..."
                  (keydown.enter)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                />
                <button
                  (click)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                >
                  Post
                </button>
              </div>
            </div>
            <div class="replies" *ngIf="comment.replies.length > 0">
              <div *ngFor="let reply of comment.replies" class="reply">
                <div class="d-flex">
                  <img
                    [src]="getSafeUrl(reply.author?.picture?.url)"
                    alt="Ảnh đại diện"
                    class="comment-avatar"
                  />
                  <div class="comment-author">{{ reply.author?.name }}</div>
                </div>
                <div class="comment-content">
                  <div class="comment-text">{{ reply.content }}</div>
                  <div class="comment-time"></div>
                </div>
              </div>
            </div>
            <div class="replies" *ngIf="comment.replies.length > 0">
              <div class="post-comment">
                <div class="post-header">
                  <img
                    [src]="getSafeUrl(user?.picture?.url)"
                    alt="Profile picture"
                    height="40"
                    width="40"
                  />
                </div>
                <input
                  #replyInput
                  type="text"
                  placeholder="Add a reply..."
                  (keydown.enter)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                />
                <button
                  (click)="
                    replyComment(comment.id, replyInput.value);
                    replyInput.value = ''
                  "
                >
                  Post
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
