<div class="video-call-container">
  <div class="video-grid">
    <div class="video-box activity">
      <div class="activity-content">
        <p class="activity-title">Whiteboard</p>
        <button class="activity-button">Join Activity</button>
      </div>
    </div>

    <div class="video-box red">
      <div class="user-icon">
        <img src="" alt="User Icon" />
      </div>
      <p class="user-name">Gấu</p>
      <div class="mute-icon">🔇</div>
    </div>

    <div class="video-box blue">
      <div class="profile">
        <img src="" alt="User Avatar" />
      </div>
      <p class="user-name">Mạnh Tường</p>
      <div class="mute-icon">🔇</div>
    </div>

    <div class="video-box gray">
      <div class="user-icon">
        <img src="" alt="User Icon" />
      </div>
      <p class="user-name">Trần Ngọc Chí</p>
      <div class="mute-icon">🔇</div>
    </div>
    <div class="video-box brown">
      <div class="profile">
        <img src="" alt="User Avatar" />
      </div>
      <p class="user-name">Đức</p>
      <div class="mute-icon">🔇</div>
    </div>

  </div>

  <div class="controls">
    <button class="control-btn"><i class="fa-solid fa-display"></i></button>

    <button class="control-btn"><i class="fa-solid fa-microphone"></i></button>
    <button class="control-btn"><i class="fa-solid fa-camera"></i></button>
    <button class="control-btn end-call"><i class="fa-solid fa-phone"></i></button>


  </div>
</div>
