<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
  position="bottom-right"
/>

<!-- Loading Indicator -->
<div *ngIf="isLoading" class="loading-container">
  <app-loading-component></app-loading-component>
</div>

<!-- Profile Content -->
<div *ngIf="!isLoading" class="video-side">
  <!-- Profile Section -->
  <div class="profile-container">
    <div class="profile-header-row">
      <div class="profile-header">
        <app-my-profile-stories
          [user]="user"
          [userId]="userId"
        ></app-my-profile-stories>
      </div>
      <div class="profile-info">
        <h2 class="profile-username">{{ user.name }}</h2>
        <p class="profile-username-id">&#64;{{ user.name }}</p>
        <div class="profile-actions">
          <!-- Nếu là profile của người dùng đang đăng nhập -->
          <ng-container *ngIf="isOwnProfile; else followBtn">
            <button class="edit-profile-button" (click)="openEditProfile()">
              Sửa hồ sơ
            </button>
            <button
              class="promote-post-button"
              (click)="openCreateProfileStory()"
            >
              Tạo tin mới
            </button>
            <button
              class="settings-button"
              (click)="openGearButton(); $event.stopPropagation()"
            >
              <i class="fa-solid fa-gear"></i>
            </button>
            <button class="share-button" (click)="copyProfileLink()">
              <i class="fa-solid fa-share"></i>
            </button>
          </ng-container>
          <!-- Nếu là profile của người khác -->
          <ng-template #followBtn>
            <button class="edit-profile-button" (click)="toggleFollow()">
              {{ isFollowing ? "Đã Follow" : "Follow" }}
            </button>
            <button class="promote-post-button" (click)="toggleBlock()">
              {{ isBlocked ? "Đã Block" : "Block" }}
            </button>
            <button class="share-button" (click)="copyProfileLink()">
              <i class="fa-solid fa-share"></i>
            </button>

          </ng-template>
          <button *ngIf="!isOwnProfile" class="share-button"  (click)="showReportModal = true; $event.stopPropagation();">
            <i class="fa-solid fa-triangle-exclamation"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="profile-title">
      <div class="follow-info">
        <span>{{ user.followingsCount }} Đang Follow</span>
        <span>{{ user.followersCount }} Follower</span>
        <span>{{ user.friendsCount }} Bạn Bè</span>
      </div>
      <p class="profile-bio">{{ user.bio }}</p>
    </div>

    <!-- Profile Tabs -->
    <div>
      <div class="profile-tabs">
        <div
          class="tab"
          [ngClass]="{ active: selectedTab === 0 }"
          (click)="setTab(0)"
        >
          <i class="fa-solid fa-bookmark"></i> My Posts
        </div>
        <div
          class="tab"
          [ngClass]="{ active: selectedTab === 1 }"
          (click)="setTab(1)"
        >
          <i class="fa-solid fa-bars"></i> Room List
        </div>
        <div
          class="tab"
          [ngClass]="{ active: selectedTab === 2 }"
          (click)="setTab(2)"
        >
          <i class="fa-solid fa-heart"></i> Posts Feed
        </div>
        <div
          class="underline"
          [ngStyle]="{ left: selectedTab * 54 + 'vh' }"
        ></div>
      </div>
      <!-- My Post -->
      <ng-container *ngIf="selectedTab === 0">
        <app-my-post [userId]="userId"></app-my-post>
      </ng-container>
      <!-- Room List -->
      <ng-container *ngIf="selectedTab === 1">
        <app-room-list [userId]="userId"></app-room-list>
      </ng-container>
      <!-- Posts Feed -->
      <ng-container *ngIf="selectedTab === 2">
        <app-posts-feed [userId]="userId"></app-posts-feed>
      </ng-container>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="showReportModal">
  <div class="modal-box">
    <div class="modal-header">
      <h2>Report</h2>
      <button class="close-btn" (click)="showReportModal = false">&times;</button>
    </div>
    <p class="modal-description">
      Why are you reporting this account?<br />
      <span>If someone is in immediate danger, get help before reporting to Virtual Meet. Don’t wait.</span>
    </p>

    <!-- Form group with radio buttons -->
    <form (ngSubmit)="submitReport()" #reportForm="ngForm">
      <ul class="modal-options">
        <li *ngFor="let option of reportOptions">
          <label>
            <input
              type="radio"
              name="reportReason"
              [value]="option"
              [(ngModel)]="selectedReportReason"
              required
            />
            {{ option }}
          </label>
        </li>
      </ul>

      <button type="submit" [disabled]="!selectedReportReason" class="submit-btn">
        Submit Report
      </button>
    </form>
  </div>
</div>


