<div class="row p-3">
  <div class="col-lg-4 col-md-4 col-sm-6 col-6"><h4>VIRTUAL MEET</h4></div>
  <div class="col-lg-4 col-md-5 col-sm-1 col-1">
    <div class="search-container">
      <input type="text" placeholder="Search" />
      <i class="fas fa-search icon"></i>
    </div>
  </div>
  <div class="col-lg-4 col-md-3 col-sm-5 col-5">
    <div
      class="menu-container d-flex align-items-center"
      style="flex-direction: row-reverse"
    >
      <div class="menu-icon">
        <i
          class="fa-solid fa-ellipsis fa-rotate-90 fa-lg"
          style="color: white; cursor: pointer; margin-left: 15px"
          (click)="onClickDropdown()"
        ></i>

        <div class="dropdown-menu" *ngIf="isShowDropdown">
          <a href="#"><i class="fas fa-home"></i>Creator tools</a>
          <a href="#"><i class="fas fa-language"></i>English</a>
          <a href="#"
            ><i class="fas fa-question-circle"></i>Feedback and help</a
          >
          <a href="#"><i class="fas fa-moon"></i>Dark mode</a>
        </div>
      </div>
      <button class="login-bt" (click)="onClickLoginDialog()">
        <h5 style="line-height: 20px">Login</h5>
      </button>
      <div class="notification-icon">
        <div
          class="notification-bellicon mr-2"
          style="border-radius: 2px"
          [ngClass]="isShowNotification ? 'onNotification' : 'offNotification'"
        >
          <i
            class="fa-solid fa-bell fa-xl"
            id="notification-bell"
            (click)="onClickNotification()"
          ></i>
        </div>
        <div
          class="notification-wrapper"
          *ngIf="isShowNotification"
          id="notification-dropdown"
        >
          <h4 id="notification-title">Thông báo</h4>
          <div class="notification-item">
            <img
              class="notification-avatar"
              alt="User avatar"
              src="https://storage.googleapis.com/a1aa/image/xQVrqiEYzem7l89QM4ASfg2LRAhHpV5u6JCFKcw0pJ8.jpg"
            />
            <div class="notification-content">
              <p>
                <span class="notification-thread">thảo luận</span>
                <strong>oshp1512</strong> đã trả lời trong chủ đề VirtualMeet.
              </p>
              <p class="notification-time">
                Hôm nay lúc 1:18 PM · Đã đọc: Vừa xong
              </p>
              <p class="notification-action">Đánh dấu chưa đọc</p>
            </div>
          </div>
          <div class="notification-item">
            <img
              class="notification-avatar"
              alt="User avatar"
              src="https://storage.googleapis.com/a1aa/image/xQVrqiEYzem7l89QM4ASfg2LRAhHpV5u6JCFKcw0pJ8.jpg"
            />
            <div class="notification-content">
              <p>
                <span class="notification-thread">thảo luận</span>
                <strong>oshp1512</strong> đã trả lời trong chủ đề VirtualMeet.
              </p>
              <p class="notification-time">
                Hôm nay lúc 1:18 PM · Đã đọc: Vừa xong
              </p>
              <p class="notification-action">Đánh dấu chưa đọc</p>
            </div>
          </div>
          <div class="notification-footer" style="color: black">
            <a href="#">Xem tất cả</a>
            <a href="#">Đánh dấu đã đọc</a>
            <a href="#">Cài đặt</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-login-modal [isShowLoginDialog]="isShowLoginDialog"></app-login-modal>
<!-- -->
