<div class="landing-container">
  <section class="wrapper">
    <div class="stars" id="stars1"></div>
    <div class="stars" id="stars2"></div>
    <div class="main-content">
      <h1>
        <span class="headline-main">Welcome to</span><br />
        <span class="headline-sub">Virtual Meet</span>
      </h1>
      <div class="typewriter">
        <p>Versatile Virtual Meeting Platform</p>
      </div>
      <div class="button-container">
        <button class="get-started primary" (click)="navigateToRooms()">
          Get Started
        </button>
        <button class="get-started secondary" (click)="navigateToAboutUs()">
          Contact Us
        </button>
      </div>
    </div>
  </section>
</div>
