<div class="modal-gear-overlay" (click)="close()">
  <div class="modal-gear-story" (click)="$event.stopPropagation()">
    <div class="button-group">
      <button
        type="button"
        class="button"
        (click)="storyStored(); $event.stopPropagation()"
      >
        <img src="./img/story-icon.png" alt="" />
        Kho lưu trữ tin
      </button>
      <button type="button" class="button button-delete">
        <img src="./img/trash-icon.png" alt="" />
        Xóa tài khoản
      </button>
    </div>
  </div>
</div>
