.profile-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid transparent;
}

.isWatch {
  border-color: rgb(255, 0, 68);
}

.watched {
  border-color: rgb(116, 116, 116);
}

.profile-pic-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
