<app-header *ngIf="!isRoomPage" class="header"></app-header>
<div class="main-container">
  <app-nav-bar style="margin-top: 85px"></app-nav-bar>
  <div
    class="container-fluid vh-100 d-flex flex-column align-items-center"
    style="margin-top: 85px"
  >
    <div class="row flex-grow-1" style="width: 100%">
      <div class="row flex-grow-1">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-box-container">
    <app-ai-chat-box></app-ai-chat-box>
  </div>
</div>
