<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <div class="responsive-container-block leftSide">
      <p class="text-blk heading">
        Meet Our Creative Team
      </p>
      <p class="text-blk subHeading">
        We are Virtual Meet, a project group consisting of 5 members from FPT University. With a passion for technology and a desire to enhance online experiences, our team has developed a virtual meeting platform designed to provide flexible and interactive spaces for users. We believe that by combining creativity and technical expertise, Virtual Meet will make online meetings and communication easier and more efficient than ever before.</p>
    </div>
    <div class="responsive-container-block rightSide">
      <img class="number1img" ngSrc="../../../assets/img/dev_chi.png" height="1182" width="788" alt="">


      <img class="number2img" ngSrc="../../../assets/img/dev_tuong.png" height="1186" width="896" alt="">
      <img class="number3img" ngSrc="../../../assets/img/dev_manh.png" height="1176" width="880" alt="">
<!--      <img class="number5img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png">-->
<!--      <iframe allowfullscreen="allowfullscreen" class="number4vid" poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png" src="https://www.youtube.com/embed/svg%3E?">-->
<!--      </iframe>-->
      <img class="number7img" ngSrc="../../../assets/img/dev_duc.png" height="1186" width="952" alt="">
      <img class="number6img" ngSrc="../../../assets/img/dev_vinh.png" height="1180" width="1106" alt="">
    </div>
  </div>
  <div class="responsive-container-block center">
    <p class="text-blk heading">
      Terms of Use
    </p>
    <p class="text-blk subHeading">
      By using Virtual Meet, you agree to these Terms of Use. Please read them carefully.
    </p>
    <div class="terms-content">
      <p><strong>1. Eligibility</strong><br>
        You must be at least 13 years old to use this Platform. If under 18, you must have a guardian’s consent.
      </p>
      <p><strong>2. Account</strong><br>
        To access features like creating rooms, posts, and following friends, you need to create an account. You are responsible for maintaining the security of your account.
      </p>
      <p><strong>3. Content</strong><br>
        You own the content you post, but by uploading it, you grant us permission to use it on the Platform. Please avoid posting anything that violates laws or harms others.
      </p>
      <p><strong>4. Prohibited Uses</strong><br>
        You cannot use the Platform for illegal activities, harassment, or sharing harmful content.
      </p>
      <p><strong>5. Termination</strong><br>
        We may suspend or terminate your access if you violate these Terms.
      </p>
      <p><strong>6. Changes</strong><br>
        We may update these Terms. Check periodically for updates.
      </p>
      <p>
        By using the Platform, you agree to abide by these Terms. For questions, contact us at <a href="mailto:your-email@example.com">virtualmeetinggmail.com</a>.
      </p>
    </div>
  </div>

  <div class="responsive-container-block center">
    <p class="text-blk heading">
      Donate to support us!
    </p>
    <p class="text-blk subHeading">
      <img style="width: 300px; height:  300px" src="https://qrcode-gen.com/images/qrcode-default.png"  alt="QRCODE">
    </p>
  </div>
</div>
