<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <div class="responsive-container-block leftSide">
      <p class="text-blk heading">
        {{ 'team.heading' | translate }}
      </p>
      <p class="text-blk subHeading">
        {{ 'team.subHeading' | translate }}
      </p>
    </div>
    <div class="responsive-container-block rightSide">
      <img class="number1img" ngSrc="../../../assets/img/dev_chi.png" height="1182" width="788" alt="">
      <img class="number2img" ngSrc="../../../assets/img/dev_tuong.png" height="1186" width="896" alt="">
      <img class="number3img" ngSrc="../../../assets/img/dev_manh.png" height="1176" width="880" alt="">
      <img class="number7img" ngSrc="../../../assets/img/dev_duc.png" height="1186" width="952" alt="">
      <img class="number6img" ngSrc="../../../assets/img/dev_vinh.png" height="1180" width="1106" alt="">
    </div>
  </div>
  <div class="responsive-container-block center">
    <p class="text-blk heading">
      {{ 'terms.heading' | translate }}
    </p>
    <p class="text-blk subHeading">
      {{ 'terms.subHeading' | translate }}
    </p>
    <div class="terms-content">
      <p><strong>1. {{ 'terms.eligibility' | translate }}</strong></p>
      <p><strong>2. {{ 'terms.account' | translate }}</strong></p>
      <p><strong>3. {{ 'terms.content' | translate }}</strong></p>
      <p><strong>4. {{ 'terms.prohibitedUses' | translate }}</strong></p>
      <p><strong>5. {{ 'terms.termination' | translate }}</strong></p>
      <p><strong>6. {{ 'terms.changes' | translate }}</strong></p>
      <p>
        {{ 'terms.contact' | translate }}
        <a href="mailto:{{ 'terms.email' | translate }}">
          {{ 'terms.email' | translate }}
        </a>
      </p>
    </div>
  </div>

  <div class="responsive-container-block center">
    <p class="text-blk heading">
      {{ 'donate.heading' | translate }}
    </p>
    <p class="text-blk subHeading">
      <img style="width: 300px; height:  300px" src="https://qrcode-gen.com/images/qrcode-default.png"  alt="QRCODE">
    </p>
  </div>
</div>
