<div class="sidebar">
  <div style="cursor: pointer">
    <i class="fa-solid fa-arrow-right pt-2" (click)="onHiddenSideBar()"></i>
    <a class="active" href="#">
      <i class="fas fa-home"> </i>
      For You
    </a>
    <a href="#">
      <i class="fas fa-compass"> </i>
      Explore
      <span class="new"> New </span>
    </a>
    <a href="#">
      <i class="fas fa-user-friends"> </i>
      Following
    </a>
    <a href="#">
      <i class="fas fa-video"> </i>
      LIVE
    </a>
    <a href="#">
      <i class="fas fa-user"> </i>
      Profile
    </a>
    <div class="login-section">
      <p>Log in to follow creators, like videos, and view comments.</p>
      <a class="login-btn" href="#"> Log in </a>
    </div>
    <div class="ad-section">
      <img
        alt="Create TikTok effects icon"
        height="20"
        src="https://storage.googleapis.com/a1aa/image/7LQoKL69ffniV0pfNIk8FaYjzNpX7XDfDQNiyNet3UtEeCVAF.jpg"
        width="20"
      />
      Create TikTok effects, get a reward
    </div>
    <div class="footer">
      <a href="#"> Company </a>
      <a href="#"> Program </a>
      <a href="#"> Terms &amp; Policies </a>
      <div class="copyright">© 2025 TikTok</div>
    </div>
  </div>
</div>
