<div class="chat-sidebar">
  <div class="chat-header">
    <h3>{{ 'room_chat.TITLE' | translate }}</h3>
  </div>

  <div class="chat-messages">
    <div *ngFor="let message of messages" class="message">
      <p class="sender" [ngClass]="{ 'sender-self': message.senderId === currentUser }">{{ getUserName(message.senderId)
        }}</p>
      <div class="message-content" [ngClass]="{ 'self': message.senderId === currentUser }">
        <p class="text" [ngClass]="{ 'self': message.senderId === currentUser }">{{ message.content }}</p>

      </div>
    </div>
  </div>
  <!-- Hiển thị số lượt dùng thử còn lại -->
  <span *ngIf="!userVipService.isVip()" class="trial-info" style="color: #000000;">
    🎤 Lượt dùng còn: {{ userVipService.getRemainingTries() }}
  </span>
  <div class="chat-input">
    <textarea class="text" [(ngModel)]="newMessage" placeholder="Type a message..."
      (keydown.enter)="sendMessage($event)">
</textarea>

<div class="vip-feature">
  <select
  [(ngModel)]="selectedLanguage"
  class="selectOp"
  [title]="'room_chat.LANGUAGE_SELECT' | translate"
 >
  <option value="vi-VN">🇻🇳</option>
  <option value="en-US">🇺🇸</option>
</select>
</div>

<!-- Voice chat: cho phép dùng nếu là VIP hoặc còn lượt thử -->
<div class="vip-feature">
  <button
    (mousedown)="startVoiceRecognition()"
    (mouseup)="stopVoiceRecognition()"
    (mouseleave)="stopVoiceRecognition()"
    (touchstart)="startVoiceRecognition()"
    (touchend)="stopVoiceRecognition()"
    [disabled]="isListening || !userVipService.canUseVoice()"
    [title]="!userVipService.canUseVoice() ? 'Hết lượt thử. Chỉ dành cho tài khoản VIP' : 'Nhấn giữ và nói'"
  >
    {{ isListening ? ('room_chat.LISTENING' | translate) : "🎤" }}
  </button>

  <!-- Biểu tượng VIP nếu không phải VIP -->
  <span *ngIf="!userVipService.isVip()" class="vip-icon" title="Tính năng nâng cao cho VIP">👑</span>


</div>


  </div>
</div>
