<div class="chat-sidebar" [ngClass]="{'open': isParticipantsOpen}">
  <div class="participants-header">
    <h3>Participants</h3>
  </div>
  <ul class="participants-list">
    <li *ngFor="let user of participants" class="participant">
      <img [src]="user.avatarUrl || 'assets/default-avatar.jpg'" class="avatar" alt="User Icon" />
      <div class="participant-info">
        <span class="name">{{ user.name }}</span>
        <span class="status">
          <i *ngIf="user.muted" class="pi pi-microphone-slash muted"></i>
          <i *ngIf="!user.muted" class="pi pi-microphone"></i>
        </span>
        <span *ngIf="user.isSelf" class="self-label">(You)</span>
      </div>
      <div class="actions" *ngIf="isHost && !user.isSelf">
        <button class="btn" (click)="toggleMute(user)">
          <i *ngIf="!user.muted" class="fa-solid fa-microphone"></i>
          <i *ngIf="user.muted" class="fa-solid fa-microphone-slash"></i>
        </button>

        <button class="btn" (click)="toggleVideo(user)">
          <i *ngIf="user.cameraOff" class="fa-solid fa-video-slash"></i>
          <i *ngIf="!user.cameraOff" class="fa-solid fa-video"></i>
        </button>

        <!-- Nút Kick User -->
        <button class="btn btn-danger" (click)="openKickDialog(user)">
          <i class="fa-solid fa-user-slash"></i>
        </button>
      </div>
    </li>
  </ul>
</div>

<div class="popup-overlay" *ngIf="isKickPopupVisible">
  <div class="popup-container">
    <h2>Kick User</h2>
    <p>Are you sure you want to kick <strong style="color: black;">{{ selectedUser?.name }}</strong>?</p>
    <div class="reason-select">
      <label for="reason">Select a reason:</label>
      <select id="reason" [(ngModel)]="selectedReason">
        <option value="" disabled selected>Select a reason</option>
        <option style="color: black;" *ngFor="let reason of reasons" [value]="reason">
          {{ reason }}
        </option>
      </select>
    </div>
    <div class="popup-actions">
      <button class="btn btn-cancel" (click)="closeKickPopup()">Cancel</button>
      <button class="btn btn-confirm" [disabled]="!selectedReason" (click)="confirmKick()">Confirm</button>
    </div>
  </div>
</div>

