<div
  class="alert alert-secondary"
  role="alert"
  *ngFor="let message of messages"
>
  {{ message }}
</div>

<div class="container-button d-flex justify-content-center">
  <button
    type="button"
    class="btn btn-secondary"
    style="font-weight: bolder"
    (click)="openModalAddRoom()"
  >
    ADD ROOM
  </button>
</div>

<div class="container">
  <div class="row" style="width: 100%">
    <div class="col-12 text-center p-3">
      <app-story-list></app-story-list>
    </div>
  </div>
  <div class="room-card" *ngFor="let room of rooms">
    <div class="header">
      <img
        alt="User icon"
        height="30"
        src="{{ room.owner.picture.url }}"
        width="30"
      />
      <div class="topic">
        {{ room.topic }}
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-cog settings"> </i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="group-owner">
            <div style="color: black">Group Owner</div>
            <img
              src="{{ room.owner.picture.url }}"
              alt="Owner Avatar"
              class="owner-avatar"
              style="height: 50px; width: 50px"
            />
            <p style="color: #666">{{ room.owner.name }}</p>
            <p style="color: #666; line-height: 2px; font-size: 14px">
              Create At
            </p>
            <p style="color: #666; line-height: 2px; font-size: 14px">
              {{ room.createTime }}
            </p>
            <i
              class="fa-solid fa-trash"
              style="color: #ec1313; cursor: pointer"
              (click)="openModalDeleteRoom(room)"
            ></i>
            <i
              class="fas fa-pen text-primary ml-3"
              (click)="openModalEditRoom(room)"
              style="cursor: pointer"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <div class="video" (click)="viewRoomDetail(room)">
      <img
        style="width: 100%; height: 100%"
        *ngIf="room.medias.length > 0"
        src="{{ room.medias[0].url }}"
      />
    </div>

    <div class="participants" *ngFor="let member of room.members">
      <img
        alt="Participant"
        height="30"
        src="{{ member.picture }}"
        width="30"
      />
    </div>

    <div class="actions">
      <div class="join-now" (click)="joinRoom(room.id)">
        <i class="fas fa-phone"></i>
        <span>Join</span>
      </div>
      <div class="icons">
        <i class="fas fa-heart"></i>
        <i class="fas fa-comment"></i>
        <i class="fas fa-share"></i>
        <i class="fas fa-ellipsis-h"></i>
      </div>
    </div>
  </div>
</div>

<div
  infiniteScroll
  (scrolled)="loadMoreRooms()"
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="300"
>
  <h3 style="font-weight: bold; text-align: center" *ngIf="loading == true">
    Load More...
  </h3>
  <h3 style="font-weight: bold; text-align: center" *ngIf="loading == false">
    No more data to load
  </h3>
</div>

<app-modal-delete-room
  *ngIf="showModalDeleteRoom"
  [room]="roomToDelete"
  (closeModal)="closeModalDeleteRoom($event)"
></app-modal-delete-room>

<app-modal-add-edit-room
  *ngIf="showModalAddEditRoom"
  (closeModal)="closeModalAddRoom($event)"
  [roomToEdit]="roomToEdit"
  [userId]="user.id"
></app-modal-add-edit-room>
