<h3 style="font-weight: bold; text-align: center">ROOM</h3>
<div class="container">
  <div class="room-card">
    <div class="header">
      <img
        alt="User icon"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/-ISjidL3eDosIxKO0Iaghvwfov0oYW-HrmacIntcvmg.jpg"
        width="30"
      />
      <div class="topic">topic</div>
      <div class="description">description</div>
      <i class="fas fa-cog settings"> </i>
    </div>
    <div class="video">
      <i class="fas fa-video"> </i>
      <span> video intro room </span>
    </div>
    <div class="participants">
      <img
        alt="Participant 1"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/TfNmA7Vgw-zJGccK-UWYT8GHYlOYJ2yaNRjCJvYY2eM.jpg"
        width="30"
      />
      <img
        alt="Participant 2"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/cBtIbrIhfoPYImSU5p0JwwUwNVmrkL0eugKe_HHHb3o.jpg"
        width="30"
      />
      <img
        alt="Participant 3"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/kjv73eey9UN13V615f3I55MYnr7GWuolWbkBBOtaNyA.jpg"
        width="30"
      />
      <img
        alt="Participant 4"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/EFl8mweyV1pUw-c7n6sUDlVJOQD-fgSVr4BnicJ3QyM.jpg"
        width="30"
      />
      <span class="more"> ...+5 </span>
    </div>
    <div class="actions">
      <div class="join-now">
        <i class="fas fa-phone"> </i>
        <span> Join now </span>
      </div>
      <div class="icons">
        <i class="fas fa-heart"> </i>
        <i class="fas fa-comment"> </i>
        <i class="fas fa-share"> </i>
        <i class="fas fa-ellipsis-h"> </i>
      </div>
    </div>
  </div>
  <div class="room-card">
    <div class="header">
      <img
        alt="User icon"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/-ISjidL3eDosIxKO0Iaghvwfov0oYW-HrmacIntcvmg.jpg"
        width="30"
      />
      <div class="topic">topic</div>
      <div class="description">description</div>
      <i class="fas fa-cog settings"> </i>
    </div>
    <div class="video">
      <i class="fas fa-video"> </i>
      <span> video intro room </span>
    </div>
    <div class="participants">
      <img
        alt="Participant 1"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/TfNmA7Vgw-zJGccK-UWYT8GHYlOYJ2yaNRjCJvYY2eM.jpg"
        width="30"
      />
      <img
        alt="Participant 2"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/cBtIbrIhfoPYImSU5p0JwwUwNVmrkL0eugKe_HHHb3o.jpg"
        width="30"
      />
      <img
        alt="Participant 3"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/kjv73eey9UN13V615f3I55MYnr7GWuolWbkBBOtaNyA.jpg"
        width="30"
      />
      <img
        alt="Participant 4"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/EFl8mweyV1pUw-c7n6sUDlVJOQD-fgSVr4BnicJ3QyM.jpg"
        width="30"
      />
      <span class="more"> ...+5 </span>
    </div>
    <div class="actions">
      <div class="join-now">
        <i class="fas fa-phone"> </i>
        <span> Join now </span>
      </div>
      <div class="icons">
        <i class="fas fa-heart"> </i>
        <i class="fas fa-comment"> </i>
        <i class="fas fa-share"> </i>
        <i class="fas fa-ellipsis-h"> </i>
      </div>
    </div>
  </div>
  <div class="room-card">
    <div class="header">
      <img
        alt="User icon"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/-ISjidL3eDosIxKO0Iaghvwfov0oYW-HrmacIntcvmg.jpg"
        width="30"
      />
      <div class="topic">topic</div>
      <div class="description">description</div>
      <i class="fas fa-cog settings"> </i>
    </div>
    <div class="video">
      <i class="fas fa-video"> </i>
      <span> video intro room </span>
    </div>
    <div class="participants">
      <img
        alt="Participant 1"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/TfNmA7Vgw-zJGccK-UWYT8GHYlOYJ2yaNRjCJvYY2eM.jpg"
        width="30"
      />
      <img
        alt="Participant 2"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/cBtIbrIhfoPYImSU5p0JwwUwNVmrkL0eugKe_HHHb3o.jpg"
        width="30"
      />
      <img
        alt="Participant 3"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/kjv73eey9UN13V615f3I55MYnr7GWuolWbkBBOtaNyA.jpg"
        width="30"
      />
      <img
        alt="Participant 4"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/EFl8mweyV1pUw-c7n6sUDlVJOQD-fgSVr4BnicJ3QyM.jpg"
        width="30"
      />
      <span class="more"> ...+5 </span>
    </div>
    <div class="actions">
      <div class="join-now">
        <i class="fas fa-phone"> </i>
        <span> Join now </span>
      </div>
      <div class="icons">
        <i class="fas fa-heart"> </i>
        <i class="fas fa-comment"> </i>
        <i class="fas fa-share"> </i>
        <i class="fas fa-ellipsis-h"> </i>
      </div>
    </div>
  </div>
  <div class="room-card">
    <div class="header">
      <img
        alt="User icon"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/-ISjidL3eDosIxKO0Iaghvwfov0oYW-HrmacIntcvmg.jpg"
        width="30"
      />
      <div class="topic">topic</div>
      <div class="description">description</div>
      <i class="fas fa-cog settings"> </i>
    </div>
    <div class="video">
      <i class="fas fa-video"> </i>
      <span> video intro room </span>
    </div>
    <div class="participants">
      <img
        alt="Participant 1"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/TfNmA7Vgw-zJGccK-UWYT8GHYlOYJ2yaNRjCJvYY2eM.jpg"
        width="30"
      />
      <img
        alt="Participant 2"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/cBtIbrIhfoPYImSU5p0JwwUwNVmrkL0eugKe_HHHb3o.jpg"
        width="30"
      />
      <img
        alt="Participant 3"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/kjv73eey9UN13V615f3I55MYnr7GWuolWbkBBOtaNyA.jpg"
        width="30"
      />
      <img
        alt="Participant 4"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/EFl8mweyV1pUw-c7n6sUDlVJOQD-fgSVr4BnicJ3QyM.jpg"
        width="30"
      />
      <span class="more"> ...+5 </span>
    </div>
    <div class="actions">
      <div class="join-now">
        <i class="fas fa-phone"> </i>
        <span> Join now </span>
      </div>
      <div class="icons">
        <i class="fas fa-heart"> </i>
        <i class="fas fa-comment"> </i>
        <i class="fas fa-share"> </i>
        <i class="fas fa-ellipsis-h"> </i>
      </div>
    </div>
  </div>
  <div class="room-card">
    <div class="header">
      <img
        alt="User icon"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/-ISjidL3eDosIxKO0Iaghvwfov0oYW-HrmacIntcvmg.jpg"
        width="30"
      />
      <div class="topic">topic</div>
      <div class="description">description</div>
      <i class="fas fa-cog settings"> </i>
    </div>
    <div class="video">
      <i class="fas fa-video"> </i>
      <span> video intro room </span>
    </div>
    <div class="participants">
      <img
        alt="Participant 1"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/TfNmA7Vgw-zJGccK-UWYT8GHYlOYJ2yaNRjCJvYY2eM.jpg"
        width="30"
      />
      <img
        alt="Participant 2"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/cBtIbrIhfoPYImSU5p0JwwUwNVmrkL0eugKe_HHHb3o.jpg"
        width="30"
      />
      <img
        alt="Participant 3"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/kjv73eey9UN13V615f3I55MYnr7GWuolWbkBBOtaNyA.jpg"
        width="30"
      />
      <img
        alt="Participant 4"
        height="30"
        src="https://storage.googleapis.com/a1aa/image/EFl8mweyV1pUw-c7n6sUDlVJOQD-fgSVr4BnicJ3QyM.jpg"
        width="30"
      />
      <span class="more"> ...+5 </span>
    </div>
    <div class="actions">
      <div class="join-now">
        <i class="fas fa-phone"> </i>
        <span> Join now </span>
      </div>
      <div class="icons">
        <i class="fas fa-heart"> </i>
        <i class="fas fa-comment"> </i>
        <i class="fas fa-share"> </i>
        <i class="fas fa-ellipsis-h"> </i>
      </div>
    </div>
  </div>
</div>
