<div class="modal">
  <div class="modal-content">
    <div class="title">
      <i
        class="fa-solid fa-x iconX d-flex justify-content-end"
        style="cursor: pointer"
        (click)="onCloseModal()"
      ></i>

      <h3 class="login-title" style="text-align: center">
        Do you want to delete the room with the topic
        <span style="font-weight: bold">{{ room.topic }}</span>
      </h3>
      <div class="d-flex" style="justify-content: space-evenly">
        <button
          type="button"
          class="btn btn-primary pl-3 pr-3"
          (click)="onDeleteRoom()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-danger pl-3 pr-3"
          (click)="onCloseModal()"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
