<div *ngIf="loading" class="fullscreen-spinner text-center">
  <app-loading-component></app-loading-component>
</div>
<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" *ngIf="roomToEdit == null">Add New Room</h3>
      <h3 class="modal-title" *ngIf="roomToEdit != null">
        Update Room "{{ roomToEdit.topic }}"
      </h3>
      <button class="close-btn" (click)="onCloseModal()">
        <i class="fa-solid fa-x"></i>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="FormAdd">
        <div class="form-grid">
          <div class="form-group">
            <label for="topic">Topic</label>
            <input
              type="text"
              class="form-input"
              id="topic"
              formControlName="topic"
              placeholder="Enter topic"
              (blur)="checkTopic(FormAdd.get('topic')?.value)"
            />

            <div
              *ngIf="
                FormAdd.get('topic')?.errors && FormAdd.get('topic')?.touched
              "
              class="error-message"
            >
              <div
                class="error-message"
                *ngIf="FormAdd.get('topic')?.errors?.['required']"
              >
                Topic is required.
              </div>
              <div
                class="error-message"
                *ngIf="FormAdd.get('topic')?.errors?.['invalid']"
              >
                Topic violates the rules. Please use appropriate content.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-input"
              id="description"
              formControlName="description"
              rows="3"
              placeholder="Enter description"
              (blur)="checkDescription(FormAdd.get('description')?.value)"
            ></textarea>

            <div
              *ngIf="
                FormAdd.get('description')?.errors &&
                FormAdd.get('description')?.touched
              "
              class="error-message"
            >
              <div
                class="error-message"
                *ngIf="FormAdd.get('description')?.errors?.['invalid']"
              >
                Description violates the rules. Please revise it.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="maximumMember">Maximum Members</label>
            <input
              type="number"
              class="form-input"
              id="maximumMember"
              formControlName="maximumMember"
              placeholder="Enter max members"
            />
            <div
              *ngIf="
                FormAdd.get('maximumMember')?.invalid &&
                FormAdd.get('maximumMember')?.touched
              "
              class="error-message"
            >
              Maximum Member is required.
            </div>
          </div>

          <div class="form-group">
            <label for="mediaUpload">Room Image</label>
            <div class="image-upload">
              <img
                *ngIf="
                  roomToEdit?.medias?.length > 0 &&
                  roomToEdit.medias[0]?.url &&
                  !imagePreview
                "
                [src]="roomToEdit.medias[0].url"
                class="preview-image"
              />
              <img [src]="imagePreview" class="preview-image" />
              <label class="upload-btn">
                Choose File
                <input
                  type="file"
                  id="mediaUpload"
                  (change)="onFileSelected($event)"
                  hidden
                />
              </label>
            </div>
          </div>

          <div class="privacy-section">
            <div class="privacy-row">
              <div class="toggle-container">
                <label class="privacy-label">Room Privacy:</label>
                <label class="switch">
                  <input type="checkbox" (change)="togglePrivacy()" />
                  <span class="slider">
                    <span class="label-text">{{
                      isPublic ? "Public" : "Private"
                    }}</span>
                  </span>
                </label>
              </div>

              <div class="password-input" *ngIf="!isPublic">
                <input
                  class="form-input"
                  [placeholder]="
                    !roomToEdit
                      ? 'Enter password for room'
                      : 'Enter new password room'
                  "
                  [(ngModel)]="password"
                  [ngModelOptions]="{ standalone: true }"
                  (input)="onPasswordInput()"
                  type="password"
                />
                <div *ngIf="showPasswordError" class="error-message">
                  Password is required.
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn secondary-btn" (click)="onCloseModal()">
        Cancel
      </button>
      <button
        type="button"
        class="btn primary-btn"
        [disabled]="
          (FormAdd.invalid || (!isPublic && !password.trim())) && !roomToEdit
        "
        (click)="roomToEdit == null ? onAddRoom() : onUpdateRoom()"
      >
        {{ roomToEdit == null ? "Save" : "Update" }}
      </button>
    </div>
  </div>
</div>
