<div class="container-fluid">
  <div class="main-content">
    <div class="create-post">
      <div class="user-info">
        <div class="grid-container">
          <!-- Story List -->
          <div class="story-wrapper">
            <app-story-list></app-story-list>
          </div>
        </div>

        <textarea
          (click)="openCreatePost()"
          name="content"
          placeholder="Write something here..."
        ></textarea>
      </div>

      <div class="actions">
        <button (click)="openCreatePost()">
          <i class="fas fa-photo-video"> </i>
          Photo/Video
        </button>
        <button (click)="tagFriend()">
          <i class="fas fa-user-tag"> </i>
          Tag Friend
        </button>
        <button (click)="createFeeling()">
          <i class="fas fa-smile"> </i>
          Feeling/Activity
        </button>
        <button (click)="openCreatePost()" class="button-create-post">
          <i class="fa-solid fa-plus"></i>
          Create
        </button>
      </div>
      <!--      <div class="d-flex justify-content-center mt-3">-->
      <!--&lt;!&ndash;        <button type="button" class="btn btn-primary">Post</button>&ndash;&gt;-->
      <!--      </div>-->
    </div>
    <br />
    <div
      class="post"
      *ngFor="let post of listPost"
      (click)="openModalDetailPost(post.id)"
    >
      <div class="post-header">
        <img
          alt="User profile picture"
          height="40"
          src="{{ post.user.picture.url }}"
          width="40"
        />
        <div>
          <div class="name">{{ post.user.name }}</div>
          <div class="time">{{ post.createTime }}</div>
        </div>
        <div class="post-menu">
          <button (click)="toggleMenu(post.id, $event)">...</button>
          <ul class="dropdown" *ngIf="openedMenuPostId === post.id">
            <li
              (click)="openModalDeletePost(post); $event.stopPropagation()"
              *ngIf="post.userId === userId"
            >
              Delete post
            </li>
            <li (click)="reportPost(post.id)">Report post</li>
          </ul>
        </div>
      </div>
      <div class="post-content">
        <p>{{ post.content }}</p>
        <div class="post-images {{ getMediaClass(post.medias.length) }}">
          <ng-container *ngFor="let media of post.medias; let i = index">
            <div
              class="media-item"
              *ngIf="i < 4"
              [attr.data-more]="
                i === 3 && post.medias.length > 4
                  ? post.medias.length - 4
                  : null
              "
            >
              <img *ngIf="media.type === 1" [src]="media.url" alt="Media" />
              <video
                *ngIf="media.type === 2"
                [src]="media.url"
                controls
              ></video>
            </div>
          </ng-container>
        </div>
      </div>
      <br />
      <div class="post-actions">
        <div class="likes" (click)="toggleReactionPanel(post.id, $event)">
          <i
            class="fas fa-thumbs-up"
            [ngClass]="{ liked: post.currentUserReaction === 'like' }"
          ></i>
          {{ post.likeCount || 0 }} Likes
          <div
            class="reaction-panel"
            *ngIf="showReactionPanelForPostId === post.id"
          >
            <button (click)="setReaction(post.id, 'like', $event)" title="Like">
              <i class="fas fa-thumbs-up"></i>
            </button>
            <button (click)="setReaction(post.id, 'haha', $event)" title="Haha">
              <i class="fas fa-laugh"></i>
            </button>
            <button (click)="setReaction(post.id, 'wow', $event)" title="Wow">
              <i class="fas fa-surprise"></i>
            </button>
            <button (click)="setReaction(post.id, 'sad', $event)" title="Sad">
              <i class="fas fa-sad-tear"></i>
            </button>
            <button
              (click)="setReaction(post.id, 'angry', $event)"
              title="Angry"
            >
              <i class="fas fa-angry"></i>
            </button>
          </div>
        </div>
        <div class="comments">
          <i class="fas fa-comment"></i>
          {{ post.commentCount || 0 }} Comments
        </div>
        <div class="share">
          <i class="fas fa-share"></i>
          99 Shares
          <!-- Replace with dynamic data if available -->
        </div>
      </div>
    </div>
    <div
      infiniteScroll
      (scrolled)="loadMorePosts()"
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
    >
      <h3 style="font-weight: bold; text-align: center" *ngIf="loading">
        Load More...
      </h3>
      <h3
        style="font-weight: bold; text-align: center"
        *ngIf="loading == false"
      >
        No more data to load
      </h3>
    </div>
  </div>
  <div class="sidebar">
    <div class="stories">
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://png.pngtree.com/png-vector/20230228/ourmid/pngtree-plus-sign-line-icon-vector-png-image_6624089.png"
          width="40"
        />
        <div>
          <div class="name">Create Your Story</div>
          <div class="time">time to story</div>
        </div>
      </div>
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Anna Mull</div>
          <div class="time">1 hour ago</div>
        </div>
      </div>
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Ira Membrit</div>
          <div class="time">4 hours ago</div>
        </div>
      </div>
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Bob Frapples</div>
          <div class="time">9 hours ago</div>
        </div>
      </div>
      <div class="see-all">
        <button>See All</button>
      </div>
    </div>
    <div class="events">
      <div class="event">
        <img
          alt="Event icon"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/KMJ9nPi5VUTk_HwRjnpFwaw1M3QlvyHjvHclw0kRQVM.jpg"
          width="40"
        />
        <div>
          <div class="name">Web Workshop</div>
          <div class="time">1 hour ago</div>
        </div>
      </div>
      <div class="event">
        <img
          alt="Event icon"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/KMJ9nPi5VUTk_HwRjnpFwaw1M3QlvyHjvHclw0kRQVM.jpg"
          width="40"
        />
        <div>
          <div class="name">Fun Events and Festivals</div>
          <div class="time">1 hour ago</div>
        </div>
      </div>
    </div>
    <div class="upcoming-birthday">
      <div class="birthday">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Anna Sthesia</div>
          <div class="time">Today</div>
        </div>
      </div>
      <div class="birthday">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Paul Molive</div>
          <div class="time">Tomorrow</div>
        </div>
      </div>
    </div>
    <div class="suggested-pages">
      <div class="page">
        <img
          alt="Page icon"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/RWs_0NTn69m4HREaoQQjD62q5HPop2-OkgSEFh43xzY.jpg"
          width="40"
        />
        <div>
          <div class="name">Iganic Studio</div>
          <div class="time">Lorem ipsum</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-detailpost
  *ngIf="isShowModalDetailPost"
  (closeModal)="closeModalDetailPost()"
  (postUpdated)="updatePostInList($event)"
  [post]="post"
  [user]="user"
  [userId]="userId"
></app-modal-detailpost>
<div *ngIf="isLoading == true" class="fullscreen-spinner text-center">
  <app-loading-component></app-loading-component>
</div>
<app-modal-delete-post
  (closeModal)="closeModalDeletePost($event)"
  [post]="postToDelete"
  *ngIf="showModalDeletePost"
></app-modal-delete-post>
