<div class="container">
  <div class="main-content">
    <div class="create-post">
      <div class="user-info">
        <div class="user-infor-detail">
          <img
            [src]="getSafeUrl(user.photoUrl)"
            alt="User profile picture"
            height="40"
            width="40"
            style="border-radius: 50%; object-fit: cover; margin-bottom: 10px;"
          />
          <div class="user-name">
            {{user.name}}
          </div>
        </div>

        <textarea
          (click)="openCreatePost()"
          name="content"
          placeholder="Write something here..."
        ></textarea>
      </div>
      <div class="actions">
        <button (click)="openCreatePost()">
          <i class="fas fa-photo-video"> </i>
          Photo/Video
        </button>
        <button (click)="tagFriend()">
          <i class="fas fa-user-tag"> </i>
          Tag Friend
        </button>
        <button (click)="createFeeling()">
          <i class="fas fa-smile"> </i>
          Feeling/Activity
        </button>
        <button (click)="openCreatePost()" class="button-create-post">
          <i class="fa-solid fa-plus"></i>
          Create
        </button>
      </div>
<!--      <div class="d-flex justify-content-center mt-3">-->
<!--&lt;!&ndash;        <button type="button" class="btn btn-primary">Post</button>&ndash;&gt;-->
<!--      </div>-->
    </div>
    <div
      class="post"
      *ngFor="let post of listPost"
      (click)="openModalDetailPost(post.id)"
    >
      <div class="post-header">
        <img
          alt="User profile picture"
          height="40"
          src="{{ post.user.picture.url }}"
          width="40"
        />
        <div>
          <div class="name">{{ post.user.name }}</div>
          <div class="time">{{ post.createTime }}</div>
        </div>
      </div>
      <div class="post-content">
        <p>
          {{ post.content }}
        </p>
        <div class="post-images">
          <ng-container *ngIf="post.medias.length === 1">
            <img class="single" [src]="post.medias[0].url" alt="Error" />
          </ng-container>

          <ng-container *ngIf="post.medias.length === 2">
            <img
              class="half"
              *ngFor="let image of post.medias"
              [src]="image.url"
              alt="Error"
            />
          </ng-container>

          <ng-container *ngIf="post.medias.length === 3">
            <div class="row">
              <img class="half" [src]="post.medias[0].url" alt="Error" />
              <img class="half" [src]="post.medias[1].url" alt="Error" />
            </div>
            <img class="full" [src]="post.medias[2].url" alt="Error" />
          </ng-container>

          <ng-container *ngIf="post.medias.length === 4">
            <div class="grid grid-2x2">
              <img
                *ngFor="let image of post.medias"
                [src]="image.url"
                alt="Error"
              />
            </div>
          </ng-container>

          <ng-container *ngIf="post.medias.length >= 5">
            <div class="row">
              <img class="half" [src]="post.medias[0].url" alt="Error" />
              <img class="half" [src]="post.medias[1].url" alt="Error" />
            </div>
            <div class="grid grid-3">
              <img
                *ngFor="let image of post.medias.slice(2, 4)"
                [src]="image.url"
                alt="Error"
              />
              <div class="more-images" *ngIf="post.medias.length > 5">
                <img [src]="post.medias[4].url" alt="Error" />
                <div class="overlay">+{{ post.medias.length - 5 }}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="post-actions">
        <div class="likes">
          <i class="fas fa-thumbs-up"> </i>
          140 Likes
        </div>
        <div class="comments">
          <i class="fas fa-comment"> </i>
          20 Comments
        </div>
        <div class="share">
          <i class="fas fa-share"> </i>
          99 Shares
        </div>
      </div>
    </div>
    <div
      infiniteScroll
      (scrolled)="loadMorePosts()"
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
    >
      <h3 style="font-weight: bold; text-align: center" *ngIf="loading">
        Load More...
      </h3>
      <h3
        style="font-weight: bold; text-align: center"
        *ngIf="loading == false"
      >
        No more data to load
      </h3>
    </div>
  </div>
  <div class="sidebar">
    <div class="stories">
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://png.pngtree.com/png-vector/20230228/ourmid/pngtree-plus-sign-line-icon-vector-png-image_6624089.png"
          width="40"
        />
        <div>
          <div class="name">Create Your Story</div>
          <div class="time">time to story</div>
        </div>
      </div>
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Anna Mull</div>
          <div class="time">1 hour ago</div>
        </div>
      </div>
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Ira Membrit</div>
          <div class="time">4 hours ago</div>
        </div>
      </div>
      <div class="story">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Bob Frapples</div>
          <div class="time">9 hours ago</div>
        </div>
      </div>
      <div class="see-all">
        <button>See All</button>
      </div>
    </div>
    <div class="events">
      <div class="event">
        <img
          alt="Event icon"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/KMJ9nPi5VUTk_HwRjnpFwaw1M3QlvyHjvHclw0kRQVM.jpg"
          width="40"
        />
        <div>
          <div class="name">Web Workshop</div>
          <div class="time">1 hour ago</div>
        </div>
      </div>
      <div class="event">
        <img
          alt="Event icon"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/KMJ9nPi5VUTk_HwRjnpFwaw1M3QlvyHjvHclw0kRQVM.jpg"
          width="40"
        />
        <div>
          <div class="name">Fun Events and Festivals</div>
          <div class="time">1 hour ago</div>
        </div>
      </div>
    </div>
    <div class="upcoming-birthday">
      <div class="birthday">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Anna Sthesia</div>
          <div class="time">Today</div>
        </div>
      </div>
      <div class="birthday">
        <img
          alt="User profile picture"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/7b6AqqC-OrrqQTojHHtanlQmAT6p2ZZ0FHjg1qxwhRk.jpg"
          width="40"
        />
        <div>
          <div class="name">Paul Molive</div>
          <div class="time">Tomorrow</div>
        </div>
      </div>
    </div>
    <div class="suggested-pages">
      <div class="page">
        <img
          alt="Page icon"
          height="40"
          src="https://storage.googleapis.com/a1aa/image/RWs_0NTn69m4HREaoQQjD62q5HPop2-OkgSEFh43xzY.jpg"
          width="40"
        />
        <div>
          <div class="name">Iganic Studio</div>
          <div class="time">Lorem ipsum</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-detailpost
  *ngIf="isShowModalDetailPost"
  (closeModal)="closeModalDetailPost()"
  [post]="post"
  [user]="user"
></app-modal-detailpost>
<div *ngIf="isLoading == true" class="fullscreen-spinner text-center">
  <app-loading-component></app-loading-component>
</div>
