<p-carousel
  *ngIf="storiesData && storiesData.length > 0"
  [value]="storiesData"
  [numVisible]="9"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-story pTemplate="item">
    <div
      class="flex flex-col items-center justify-center w-24 h-24 rounded-full overflow-hidden p-1 shadow-sm"
    >
      <img
        (click)="openStory(storiesData.indexOf(story))"
        [ngClass]="{
          isWatch: !story.isViewed ,
          watched: story.isViewed
        }"
        style="width: 90px; height: 90px; border-radius: 50%"
        [src]="story.media.url"
        [alt]="story.name"
        class="w-full h-full object-cover"
      />
      <div class="mt-1 text-sm font-medium text-center truncate w-full">
        {{ story.name }}
      </div>
    </div>
  </ng-template>
</p-carousel>
