.p-carousel .p-carousel-item {
    display: flex;
    justify-content: center;
  }

  .p-carousel .p-carousel-item > div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  :host ::ng-deep .p-dialog {
    display: block !important;
  }

  .isWatch{
    border: 3px solid rgb(255, 0, 68);
  }
  .watched{
    border: 3px solid rgb(116, 116, 116);
  }

