<div class="modal" *ngIf="isShowLoginDialog">
  <div class="modal-content">
    <div class="title">
      <h2 class="login-title">Log in to Virtual Meet</h2>
      <i class="fa-solid fa-x iconX" (click)="onClickLoginDialog()"></i>
    </div>

    <asl-google-signin-button
      type="standard"
      size="large"
      shape="rectangular"
      text="continue_with"
      theme="filled_black"
      logo_alignment="left"
      class="custom-google-button"
    ></asl-google-signin-button>

    <!-- <div class="login-footer">
      Don’t have an account? <a href="#">Sign up</a>
    </div> -->
  </div>
</div>
