<div class="modal" *ngIf="isShowLoginDialog">
  <div class="modal-content">
    <div class="title">
      <h2 class="login-title" style="text-align: center">
        Log in to Virtual Meet
      </h2>
      <i class="fa-solid fa-x iconX" (click)="onClickLoginDialog()"></i>
    </div>

    <button class="login-button">
      <i class="fas fa-qrcode"></i> Use QR code
    </button>
    <button class="login-button">
      <i class="fas fa-user"></i> Use phone / email / username
    </button>
    <button class="login-button">
      <i class="fab fa-facebook"></i> Continue with Facebook
    </button>
    <button class="login-button">
      <i class="fab fa-google"></i> Continue with Google
    </button>
    <button class="login-button">
      <i class="fab fa-line"></i> Continue with LINE
    </button>
    <button class="login-button">
      <i class="fas fa-comment"></i> Continue with KakaoTalk
    </button>
    <button class="login-button">
      <i class="fab fa-apple"></i> Continue with Apple
    </button>

    <div class="login-footer">
      Don’t have an account? <a href="#">Sign up</a>
    </div>
  </div>
</div>
