.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #121212;
  padding: 40px 20px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: 400px;
  border-radius: 10px;
  position: relative;
}

.login-title {
  color: rgba(255, 255, 255, 0.9);
  font-family: TikTokDisplayFont;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.iconX {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.iconX:hover {
  color: #ff3b5c;
}

.custom-google-button {
  display: block;
  margin: 20px auto;
}

.login-footer {
  font-size: 18px;
  color: #888;
  margin-top: 20px;
  text-align: center;
}

.login-footer a {
  color: #ff3b5c;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.signin {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 0.75rem;
  color: #c4d2dc;
  background-color: #19242b;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
  margin: 10px auto; /* Center the button */
}

.signin:hover {
  transform: scale(1.025);
}

.signin:active {
  transform: scale(0.975);
}

.signin svg {
  height: 24px;
  width: auto;
}
