.room-control {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  label {
    font-weight: bold;
  }

  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}


select#resolution {
  color: red; /* Chữ màu đỏ */
  font-weight: bold; /* Chữ đậm */
}

/* Thay đổi màu khi hover */
select#resolution:hover {
  color: darkred;
}

/* Thay đổi màu khi chọn */
select#resolution option {
  color: black; /* Chữ trong dropdown vẫn màu đen */
}

select#resolution:focus {
  outline: 2px solid red;
}
